@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5 !important;
  border-radius: 5rem !important;
}

body {
  background: #111 !important;
  overflow-x: hidden;

}

section {
  padding: 3rem 9%;
}

a{
  text-decoration: none !important;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  display: inline-block!important;
  padding: 1rem 3rem!important;
  font-size: 1.7rem!important;
  color: #29d9d5!important;
  border: 0.2rem solid #29d9d5!important;
  border-radius: 5rem!important;
  cursor: pointer!important;
  background: none!important;
}

.btn:hover {
  background: #29d9d5!important;
  color: #111!important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
  margin-right: 20px;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff !important;
  font-weight: bolder;
}

.logo i {
  color: #29d9d5;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/nadine-nour-F7wCNKbsGBs-unsplash.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/nadine-nour-F7wCNKbsGBs-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}

.home .content h3 {
  font-size: 4vw;
  color: #fff;
}

.home .content a{
  margin-top: 20px;
}


.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: #222;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}

.book-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.book-form form .inputBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.book-form form .inputBox span {
  font-size: 1.4rem;
  color: #aaa;
}

.book-form form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.book-form form .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .video-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}

.about .video-container img {
  border-radius: 2rem;
  width: 100%;
}

.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
  
}

.about .video-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: .7rem;
}

.about .video-container .controls span:hover {
  background: #29d9d5;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #29d9d5;
  font-size: 2rem;
}

.about .content h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.destination .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
    object-fit: cover;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}


.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.services .box-container .box:hover {
  border: 0.2rem solid #29d9d5;
}

.services .box-container .box i {
  font-size: 4rem;
  color: #29d9d5;
  margin-bottom: 2rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.services .box-container .box p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #aaa;
  line-height: 2;
}

.gallery .box-container {
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.gallery .box-container .box span {
  font-size: 1.4rem;
  color: #aaa;
}

.gallery .box-container .box h3 {
  margin-top: .5rem;
  font-size: 2rem;
  color: #fff;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 50px;
  margin-bottom: 40px;
}

.review .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.review .content span {
  font-size: 3rem;
  color: #29d9d5;
}

.review .content h3 {
  font-size: 2.5rem;
  color: #fff;
  margin-top: 10px;
}



.review .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.review .box-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #222;
  border: 0.2rem solid #111;
}

.review .box-container .box:hover {
  border: 0.2rem solid #29d9d5;
}

.review .box-container .box p {
  font-size: 1.4rem;
  padding: 1.5rem ;
  line-height: 2;
  color: #aaa;
}

.review .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.review .box-container .box .user img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.review .box-container .box .user h3 {
  font-size: 1.8rem;
  color: #fff;
}

.review .box-container .box .user span {
  color: #aaa;
  font-size: 1.5rem;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border-radius: 1rem;
  background: #222;
  overflow: hidden;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .link {
  font-size: 2rem;
  color: #fff;
}

.blogs .box-container .box .content .link:hover {
  color: #29d9d5;
}

.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.blogs .box-container .box .content .icon {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: #aaa;
}

.blogs .box-container .box .content .icon a:hover {
  color: #29d9d5;
}

.blogs .box-container .box .content .icon a i {
  padding-right: .5rem;
  color: #29d9d5;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/banner-bg.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
  height: 300px;
  align-items: center;
}

.banner .content span {
  font-size: 2rem;
  color: #29d9d5;
}

.banner .content h3 {
  font-size: 4rem;
  color: #fff;
  margin-top: 2rem;
}


.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #29d9d5;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #29d9d5;
  color: #29d9d5;
  margin-right: .5rem;
  text-align: center;
}

.review .box-container .box .link{
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.review .box-container .box a:hover {
  font-size: 1.5rem;
  color: #29d9d5;

}

.iimg{
  width: 150px !important;
}

.footer .box-container .box .share a:hover {
  background: #29d9d5;
  color: #111;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #29d9d5;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #29d9d5;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: #222;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}

.credit span {
  color: #29d9d5;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .filterDiv{
    width: 250px !important;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }

  .screen{
    margin-top: 100px;
    width: 300px;
  }
  .filterDiv{
    width: 300px !important;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .filterDiv{
    width: 300px !important;
    display: block !important;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
  .banner .content h3 {
    font-size: 2.7rem;
  }
  .login {
    width: 80%;
    padding: 30px;
    padding-top: 60px;
  }
  .screen{
    margin-top: 200px;
    max-width: 320px;	

  }
  .address{
    margin-left: 50px;
  }
  .container .screen {
    box-sizing: border-box;
    width: 250px;
    margin-left: 100px;
  }
  .login {
    width: 40px;
    padding: 30px;
    padding-top: 60px;
  }
  
  .login__field {
    padding: 20px 0px;	
    position: relative;	
  }
  
  
  .login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 200px !important;
    transition: .2s;
      color: #d4d4d4;
      font-size: 1.4rem;
      background-color: #222222;
      border-radius: 4px;
  }

  .screen .screen__content textarea{
    height: 60px !important;
    width: 200px !important;
    background-color: #222222;
    outline: none;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid #3f3f3f;
    color: #d1d1d1;
}

#error_message{
  font-size: 12px !important;
  width: 220px !important; 
  margin-right: 20px !important;
}
}
/* contact page*/
.container {
	display: flex;
	align-items: center;
	justify-content: center;    
	min-height: 100vh;
}

.contacts .row h2{
  margin-top: 50px;
  text-align: center;
  color: #29d9d5;
}

.screen {		
  background: linear-gradient(90deg, #0e2836, #197f75);		
	position: relative;	
	height: 600px;
	width: 100%;	
	box-shadow: 0px 0px 10px #29d9d665;
}


.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background:#222222;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #222222;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(200deg, #1f2020 , #294b4a);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #222222;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 420px;
	padding: 30px;
	padding-top: 60px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #29d9d5;
  font-size: 1.4rem;

}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
    color: #d4d4d4;
    font-size: 1.4rem;
    background-color: #222222;
    border-radius: 4px;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #29d9d5;
}

.login__submit {
    display: inline-block!important;
    padding: .5rem .5rem!important;
    font-size: 1rem!important;
    color: #29d9d5!important;
    border: 0.1rem solid #29d9d5!important;
    border-radius: 5rem!important;
    cursor: pointer!important;
    background: none!important;
    width: 50%;

}

.button__text{
  font-size: 1.4rem;
}

.screen .screen__content textarea{
    width: 75%;
    height: 120px;
    background-color: #222222;
    outline: none;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid #3f3f3f;
    color: #d1d1d1;

}

.login__submit :active,
.login__submit:focus,
.login__submit:hover {
    background: #29d9d5!important;
    color: #111!important;
}


.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-login h6{
    color: #75a4a4;
    font-weight: bolder;
    font-size: 1.4rem;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
  
}


.social-login__icon {
	padding: 20px 10px;
	color:#29d9d5;
	text-decoration: none !important;	
  font-size: large;
}

.social-login__icon:hover {
	transform: scale(1.5);	
    color: #197f75;
}

.mapouter{
    position:relative;
    text-align:left;
    float: left;
    width: 100%;
    height: 500px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;  
    width:100%;
    height: 100%;
}

.gmap_iframe {
    height:600px!important;
    float: left;

}

.row>* {
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x)*.5);
  padding-right: calc(var(--bs-gutter-x)*.5);
  width: 100%;
}



.contact-home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/pexels-pixabay-262786.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/pexels-pixabay-262786.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.contact-home .contentus {
  text-align: center;
}

.contact-home .contentus span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}

.contact-home .content h3 {
  font-size: 4vw;
  color: #fff;
}

.contact-home .content a{
  margin-top: 20px;
}


.contacts .info p{
  font-size: 1.3rem;
}

.contacts .info h4{
  margin-top: 100px;
}

#error_message{
  margin-bottom: 20px;
  background: #294b4a;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
  color: #32ffeb;
  margin-top: 10px;
  width: 260px; 
  border-radius: 5px;
}
/* contact page ends */
/* book page start */
.book-home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/pexels-spencer-davis-4388159.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/pexels-spencer-davis-4388159.jpg) no-repeat ;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.book-home  .book span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}


.filterDiv {
  float: left;
  color: #ffffff;
  width: 300px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
  height: 460px;
}

.show {
  display: block;
}

.choose{
  border-bottom: 1px solid #29d9d5;
  width: 300px;
  padding: 5px;
}

/* book page ends */
/* singel pages starts */

.senai-home{
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/istockphoto-1071377634-612x612.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/istockphoto-1071377634-612x612.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.senai-home .content {
  text-align: center;
}

.senai-home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}

.senai-home .content h3 {
  font-size: 4vw;
  color: #fff;
}

.senai-home .content a{
  margin-top: 20px;
}

.aswan-home{
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/pexels-alex-azabache-3214972.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/pexels-alex-azabache-3214972.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.aswan-home .content {
  text-align: center;
}

.aswan-home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}

.giza-home{
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/istockphoto-96318973-612x612.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/istockphoto-96318973-612x612.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.giza-home .content {
  text-align: center;
}

.giza-home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: uppercase;
}

.container{
  min-height: 100vh;
  background: #111 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 60px;
  margin-top: 100px;
  position: relative;	
}

.container .form{
  background: #fff;
  border-radius: 5px;
  background: linear-gradient(90deg, #0e2836, #183633);		
  padding: 20px;
  width: 500px;
  padding-top: 170px;
}

.container form .inputBox{
  margin-top: 20px;
}

.container form .inputBox span{
  display: block;
  color:rgb(207, 207, 207);
  padding-bottom: 5px;
  font-size: 1.2rem;
}



.container form .inputBox input ,
.container form .inputBox select{
border: none;
border-bottom: 2px solid #D1D1D4;
background: none;
padding: 10px;
padding-left: 24px;
font-weight: 700;
width: 75%;
transition: .2s;
  color: #cfcfcf;
  font-size: 1.4rem;
  border-radius: 4px;
}


.container form .inputBox  :active,
.container form .inputBox  :focus,
.container form .inputBox  :hover {
outline: none;
border-bottom-color: #29d9d5;
}

.container form .flexbox{
  display: flex;
  gap:15px;
}

.container form .flexbox .inputBox{
  flex:1 1 150px;
}

.container form .submit-btn{
  width: 100%;
background: linear-gradient(200deg, #1f2020 , #0f5451);
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color:#fff;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
}

.container form .submit-btn:hover{
  letter-spacing: 2px;
  opacity: .8;
}

.container .card-container{
  margin-bottom: -150px;
  position: relative;
  height: 250px;
  width: 400px;
}

.container .card-container .front{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
background: linear-gradient(20deg,  #313235 , #020b10);
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,.2);
  padding:20px;
  transform:perspective(1000px) rotateY(0deg);
  transition:transform .4s ease-out;
}

.container .card-container .front .image{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-top: 10px;
}

.container .card-container .front .image img{
  height: 50px;
}

.container .card-container .front .card-number-box{
  padding:30px 0;
  font-size: 20px;
  color:#fff;
}

.container .card-container .front .flexbox{
  display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
  margin-right: auto;
}

.container .card-container .front .flexbox .box{
  font-size: 15px;
  color:#fff;
}

.container .card-container .back{
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #0e2836, #17544e);		background: linear-gradient(20deg,  #313235 , #020b10);	
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,.2);
  transform:perspective(1000px) rotateY(180deg);
  transition:transform .4s ease-out;
}

.container .card-container .back .stripe{
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}

.container .card-container .back .box{
  padding: 0 20px;
}

.container .card-container .back .box span{
  color:rgb(168, 168, 168);
  font-size: 15px;
}

.container .card-container .back .box .cvv-box{
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color:#333;
  background: #fff;
  border-radius: 5px;
  width: 100%;
}

.container .card-container .back .box img{
  margin-top: 30px;
  height: 30px;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 500px) {
  .container form{
      width: 350px;
  }

  .card-container{
      width: 300px !important;
      height: 200px !important;
  }
}
